[Desktop Entry]
Encoding=UTF-8
Name=Xfce 4 Menu Editor
Name[et]=Xfce 4 menüüredaktor
Name[fr]=Éditeur de menu Xfce 4
Name[he]=עורך תפריט Xfce4
Name[nl]=Xfce 4 Menu Editor
Name[pt_BR]=Editor de Menu do Xfce 4
Name[ro]=Xfce 4 editor meniu
Name[ru]=Редактор меню Xfce 4
Name[zh_TW]=Xfce 4 選單編輯器
Comment=Graphical tool for editing the Xfce 4 menu
Comment[et]=Graafiline tööriist Xfce 4 menüüde redigeerimiseks
Comment[fr]=Outil graphique pour éditer le menu de Xfce 4
Comment[he]=כלי גרפי בשביל לערוך את תפריט של Xfce 4
Comment[nl]=Bewerk het Xfce menu
Comment[pt_BR]=Ferramenta gráfica para edição do menu do Xfce 4
Comment[ro]=Unealtă grafică pentru editarea meniului Xfce 4
Comment[ru]=Графическая программа для правки меню Xfce 4
Comment[zh_TW]=修改 Xfce 的選單
Exec=xfce4-menueditor
Icon=xfce4-menueditor
Terminal=false
Type=Application
Categories=X-XFCE;Application;Settings;DesktopSettings;
OnlyShowIn=XFCE;
GenericName=Menu Editor
GenericName[et]=Menüüredaktor
GenericName[nl]=Menu Editor
GenericName[pt_BR]=Editor de Menu
GenericName[ro]=Editor meniu
GenericName[ru]=Редактор меню
