[Desktop Entry]
Encoding=UTF-8
Name=Xfce4 Menu Editor
Comment=Graphical tool for editing the Xfce 4 menu
Exec=xfce4-menueditor
Icon=xfce4-menueditor.png
Terminal=false
Type=Application
Categories=X-XFCE;Application;Settings;DesktopSettings;
OnlyShowIn=XFCE;
