[Desktop Entry]
Encoding=UTF-8
Name=Xfce 4 Menu Editor
Name[fr]=Éditeur de menu Xfce 4
Comment=Graphical tool for editing the Xfce 4 menu
Comment[fr]=Outil graphique pour éditer le menu de Xfce 4
Exec=xfce4-menueditor
Icon=xfce4-menueditor
Terminal=false
Type=Application
Categories=X-XFCE;Application;Settings;DesktopSettings;
OnlyShowIn=XFCE;
