Makefile
.libs
.deps
*.lo
*.la
*.o
*.so
*.a
.*.swp
*stamp
stamp*
config.log
config.h
config.cache
config.h.in~
autom4te.cache
config.status
stamp-h1
libtool
xfdesktop.spec
Makefile.in
aclocal.m4
compile
config.guess
config.h.in
config.sub
configure
configure.ac
depcomp
install-sh
ltmain.sh
missing
mkinstalldirs
intltool-*
INSTALL
config.status.lineno
ChangeLog
config.h.in~
cov-int/
common/xfdesktop-marshal.c
common/xfdesktop-marshal.h
common/tumbler.c
common/tumbler.h
po/POTFILES
po/Makefile.in.in
po/stamp-it
po/*.gmo
po/.intltool-merge-cache
settings/xfce-backdrop-settings.desktop
settings/xfdesktop-settings
settings/xfdesktop-settings-appearance-frame-ui.h
settings/xfdesktop-settings-ui.h
# We want the settings.desktop.in file to be tracked in git so the xfce
# transifex bot will pickup the translations.
#settings/xfce-backdrop-settings.desktop.in
src/*-enum-types.*
src/xfdesktop
src/xfdesktop-marshal.c
src/xfdesktop-marshal.h
src/xfdesktop-file-manager-proxy.c
src/xfdesktop-file-manager-proxy.h
src/xfdesktop-thunar-proxy.c
src/xfdesktop-thunar-proxy.h
src/xfdesktop-trash-proxy.c
src/xfdesktop-trash-proxy.h
