Makefile
.libs
.deps
*.lo
*.la
*.o
*.so
*.a
*.tar.bz2
*.tar.gz
.*.swp
*stamp
stamp*
*~
config.log
config.h
config.cache
config.rpath
autom4te.cache
config.status
stamp-h1
libtool
xfdesktop.spec
Makefile.in
aclocal.m4
m4/
compile
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
mkinstalldirs
INSTALL
config.status.lineno
ChangeLog
cov-int/
compile_flags.txt
common/xfdesktop-marshal.c
common/xfdesktop-marshal.h
common/tumbler.c
common/tumbler.h
po/POTFILES
po/Makefile.in.in
po/stamp-it
po/*.gmo
ABOUT-NLS
po/Makevars.template
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
po/remove-potcdate.sed
po/xfdesktop.pot
settings/xfce-backdrop-settings.desktop
settings/xfdesktop-settings
settings/xfdesktop-settings-ui.h
settings/xfdesktop-settings-ui.c
src/*-enum-types.*
src/xfdesktop
src/xfdesktop-marshal.c
src/xfdesktop-marshal.h
src/xfdesktop-file-manager-fdo-proxy.c
src/xfdesktop-file-manager-fdo-proxy.h
src/xfdesktop-file-manager-proxy.c
src/xfdesktop-file-manager-proxy.h
src/xfdesktop-thunar-proxy.c
src/xfdesktop-thunar-proxy.h
src/xfdesktop-trash-proxy.c
src/xfdesktop-trash-proxy.h
