<?xml version='1.0' encoding='UTF-8'?>
<Project xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
         xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
         xmlns:foaf="http://xmlns.com/foaf/0.1/"
         xmlns:gnome="http://api.gnome.org/doap-extensions#"
         xmlns="http://usefulinc.com/ns/doap#">

  <name xml:lang="en">xfdesktop</name>
  <shortdesc xml:lang="en">Xfce's desktop manager</shortdesc>
  <homepage rdf:resource="http://xfce.org"/>
  <mailing-list rdf:resource="http://foo-projects.org/mailmain/listinfo/xfce4-dev"/>

  <maintainer>
    <foaf:Person>
      <foaf:name>Brian Tarricone</foaf:name>
      <foaf:mbox>mailto:kelnos@xfce.org</foaf:mbox>
      <gnome:userid>kelnos</gnome:userid>
    </foaf:Person>
  </maintainer>
</Project>
