[Desktop Entry]
Encoding=UTF-8
Name=Xfce 4 Desktop Settings
Name[fr]=Paramètres du bureau de Xfce 4
Name[nl]=Instellingen Xfce 4 Bureaublad
Name[zh_TW]=Xfce 4 桌面設定
Comment=Settings for the Xfce 4 Desktop Manager
Comment[fr]=Paramétrage du gestionnaire de bureau
Comments[nl]=Instellingen van het bureaublad
Comments[zh_TW]=設定桌面管理程式
Exec=xfce-setting-show backdrop
Icon=xfce4-backdrop
Terminal=false
Type=Application
Categories=X-XFCE;Settings;DesktopSettings;
OnlyShowIn=XFCE;
GenericName=Desktop Settings
GenericName[nl]=Instellingen Bureaublad
