[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Xfce 4 Desktop Settings
Name[cs]=Nastavení plochy Xfce 4
Name[el]=Ρυθμίσεις Επιφάνειας Εργασίας Xfce 4
Name[et]=Xfce 4 töölaua tausta seaded
Name[eu]=Xfce 4 Idazmahai Ezarpenak
Name[fi]=Xfce 4 Työpöydän asetukset
Name[fr]=Paramètres du bureau de Xfce 4
Name[he]=הגדרות שולחן העבודה Xfce 4
Name[hu]=Xfce 4 asztalbeállítások
Name[lt]=Xfce 4 darbastalio nustatymai
Name[nl]=Instellingen Xfce 4 Bureaublad
Name[pt_BR]=Configurações do Desktop Xfce 4
Name[ro]=Xfce 4 setări desktop
Name[ru]=Настройки рабочего стола Xfce 4
Name[zh_CN]=Xfce 4 桌面设置
Name[zh_TW]=Xfce 4 桌面設定
Comment=Settings for the Xfce 4 Desktop Manager
Comment[cs]=Nastavení pre Správce plochy Xfce 4
Comment[el]=Ρυθμίσεις Διαχειριστή Επιφάνειας Εργασίας Xfce 4
Comment[et]=Xfce 4 töölaua tausta seaded
Comment[eu]=Idazmahai Ezarpenak
Comment[fi]=Xfce 4 Työpöydänhallinnan asetukset
Comment[fr]=Paramétrage du gestionnaire de bureau
Comment[he]=הגדרות שולחן העבודה של Xfce 4
Comment[hu]=Az Xfce 4 asztalkezelő beállításai
Comment[lt]=Xfce 4 darbastalio valdyklės nustatymai
Comment[nl]=Instellingen van het bureaublad
Comment[pt_BR]=Configurações para o gerenciador de desktop Xfce 4
Comment[ro]=Setările administratorului desktopului Xfce 4
Comment[ru]=Настройки для программы управления рабочим столом Xfce 4
Comment[zh_CN]=设置 Xfce 4 桌面管理器
Comment[zh_TW]=設定桌面管理程式
Exec=xfce-setting-show backdrop
Icon=xfce4-backdrop
Terminal=false
Type=Application
Categories=X-XFCE;Settings;DesktopSettings;
OnlyShowIn=XFCE;
GenericName=Desktop Settings
GenericName[cs]=Nastavení plochy
GenericName[el]=Ρυθμίσεις Επιφάνειας Εργασίας
GenericName[et]=Taustapildi seaded
GenericName[eu]=Idazmahai Ezarpenak
GenericName[fi]=Työpöydän asetukset
GenericName[hu]=Asztalbeállítások
GenericName[lt]=Darbastalio nustatymai
GenericName[nl]=Instellingen Bureaublad
GenericName[pt_BR]=Configurações de desktop
GenericName[ro]=Setări desktop
GenericName[ru]=Настройки рабочего стола
GenericName[zh_CN]=设置桌面
