[Desktop Entry]
Encoding=UTF-8
Name=Xfce 4 Desktop Settings
Comment=Settings for the Xfce 4 Desktop Manager
Exec=xfce-setting-show backdrop
Icon=xfce4-backdrop
Terminal=false
Type=Application
Categories=X-XFCE;Settings;DesktopSettings;
OnlyShowIn=XFCE;
