[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Name=Help
Comment=Help using Xfce
Exec=xfhelp4
Icon=gnome-help
StartupNotify=false
Terminal=false
Categories=X-XFCE;
