[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Name=Run Program...
Comment=Run a program
Exec=xfrun4
Icon=gnome-fs-executable
StartupNotify=false
Terminal=false
Categories=X-XFCE;
