[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Name=About Xfce
Comment=Information about the Xfce Desktop Environment
Exec=xfce4-about
Icon=info
StartupNotify=false
Terminal=false
Categories=X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
