[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Name=File Manager
Comment=Thunar file manager
Exec=Thunar
Icon=file-manager
StartupNotify=true
Terminal=false
Categories=X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
