[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Name=Log Out
Comment=Log out of the Xfce Desktop
Exec=xfce4-session-logout
Icon=gnome-logout
StartupNotify=false
Terminal=false
Categories=X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
