[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Name=Terminal
Comment=Terminal emulator
Exec=xfterm4
Icon=gnome-terminal
StartupNotify=false
Terminal=false
Categories=X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
