[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Name=Web Browser
Comment=Browse the web
Exec=xfbrowser4
Icon=gnome-globe
StartupNotify=false
Terminal=false
Categories=X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
